# Data Preprocessing Steps

1. Reading Data
2. Exploring Data / Data Insight
3. Cleansing Data
4. Outlier Detection and Removing
5. Data Transformation (Normalize Data / Rescale Data)
6. Categorical into Numerical 
7. Dimensionality Reduction(PCA)
8. Handling Imbalanced Data
9. Feature Selection
10. Data Splitting

In [1]:
import matplotlib.pyplot as plt #for data visualizing
import seaborn as sns 
color = sns.color_palette()

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# 1: Reading Data

In [2]:
data = pd.read_csv('echocardiogram.csv')

data.head()

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.00,1.000,name,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.70,0.588,name,1,0.0
2,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.00,1.000,name,1,0.0
3,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.45,0.788,name,1,0.0
4,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.25,0.571,name,1,0.0

In [3]:
data.head(2)

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.0,0.0,71.0,0.0,0.26,9.0,4.6,14.0,1.0,1.000,name,1,0.0
1,19.0,0.0,72.0,0.0,0.38,6.0,4.1,14.0,1.7,0.588,name,1,0.0

In [4]:
data.head(30)

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.00,0.0,71.000,0.0,0.260,9.000,4.600,14.00,1.000,1.000,name,1,0.0
1,19.00,0.0,72.000,0.0,0.380,6.000,4.100,14.00,1.700,0.588,name,1,0.0
2,16.00,0.0,55.000,0.0,0.260,4.000,3.420,14.00,1.000,1.000,name,1,0.0
3,57.00,0.0,60.000,0.0,0.253,12.062,4.603,16.00,1.450,0.788,name,1,0.0
4,19.00,1.0,57.000,0.0,0.160,22.000,5.750,18.00,2.250,0.571,name,1,0.0
5,26.00,0.0,68.000,0.0,0.260,5.000,4.310,12.00,1.000,0.857,name,1,0.0
6,13.00,0.0,62.000,0.0,0.230,31.000,5.430,22.50,1.875,0.857,name,1,0.0
7,50.00,0.0,60.000,0.0,0.330,8.000,5.250,14.00,1.000,1.000,name,1,0.0
8,19.00,0.0,46.000,0.0,0.340,0.000,5.090,16.00,1.140,1.003,name,1,0.0
9,25.00,0.0,54.000,0.0,0.140,13.000,4.490,15.50,1.190,0.930,name,1,0.0
10,10.00,1.0,77.000,0.0,0.130,16.000,4.230,18.00,1.800,0.714,name,1,1.0
11,52.00,0.0,62.000,1.0,0.450,9.000,3.600,16.00,1.140,1.003,name,1,0.0
12,52.00,0.0,73.000,0.0,0.330,6.000,4.000,14.00,1.000,1.000,name,1,0.0
13,44.00,0.0,60.000,0.0,0.150,10.000,3.730,14.00,1.000,1.000,name,1,0.0
14,0.50,1.0,62.000,0.0,0.120,23.000,5.800,11.67,2.330,0.358,name,1,1.0
15,24.00,0.0,55.000,1.0,0.250,12.063,4.290,14.00,1.000,1.000,name,1,0.0
16,0.50,1.0,69.000,1.0,0.260,11.000,4.650,18.00,1.640,0.784,name,1,1.0
17,0.50,1.0,62.529,1.0,0.070,20.000,5.200,24.00,2.000,0.857,name,1,1.0
18,22.00,1.0,66.000,0.0,0.090,17.000,5.819,8.00,1.333,0.429,name,1,0.0
19,1.00,1.0,66.000,1.0,0.220,15.000,5.400,27.00,2.250,0.857,name,1,1.0
20,0.75,1.0,69.000,0.0,0.150,12.000,5.390,19.50,1.625,0.857,name,1,1.0
21,0.75,1.0,85.000,1.0,0.180,19.000,5.460,13.83,1.380,0.710,name,1,1.0
22,0.50,1.0,73.000,0.0,0.230,12.733,6.060,7.50,1.500,0.360,name,1,1.0
23,5.00,1.0,71.000,0.0,0.170,0.000,4.650,8.00,1.000,0.570,name,1,1.0
24,48.00,0.0,64.000,0.0,0.190,5.900,3.480,10.00,1.110,0.640,name,2,NaN
25,29.00,0.0,54.000,0.0,0.300,7.000,3.850,10.00,1.667,0.430,name,2,NaN
26,29.00,0.0,35.000,0.0,0.300,5.000,4.170,14.00,1.000,1.000,name,2,NaN
27,29.00,0.0,55.000,0.0,NaN,7.000,NaN,2.00,1.000,2.000,name,2,NaN
28,0.25,1.0,75.000,0.0,NaN,NaN,NaN,NaN,1.000,NaN,name,2,NaN
29,36.00,0.0,55.000,1.0,0.210,4.200,4.160,14.00,1.560,0.640,name,2,0.0

In [5]:
data.tail()

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
128,7.5,1.0,64.0,0.0,0.24,12.9,4.72,12.0,1.000,0.857,name,NaN,NaN
129,41.0,0.0,64.0,0.0,0.28,5.4,5.47,11.0,1.100,0.714,name,NaN,NaN
130,36.0,0.0,69.0,0.0,0.20,7.0,5.05,14.5,1.210,0.857,name,NaN,NaN
131,22.0,0.0,57.0,0.0,0.14,16.1,4.36,15.0,1.360,0.786,name,NaN,NaN
132,20.0,0.0,62.0,0.0,0.15,0.0,4.51,15.5,1.409,0.786,name,NaN,NaN

In [6]:
data.shape

(133, 13)

In [7]:
data.tail(20)

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
113,36.0,0.0,61.0,0.0,0.27,9.0,4.06,12.0,1.000,0.857,name,NaN,NaN
114,25.0,0.0,59.0,1.0,0.40,9.2,5.36,12.0,1.000,0.857,name,NaN,NaN
115,27.0,0.0,57.0,0.0,0.29,9.4,4.77,9.0,1.000,0.640,name,NaN,NaN
116,34.0,0.0,62.0,1.0,0.19,28.9,6.63,19.5,1.950,0.714,name,NaN,NaN
117,37.0,0.0,NaN,0.0,0.26,0.0,4.38,9.0,1.000,0.640,name,NaN,NaN
118,34.0,0.0,54.0,0.0,0.43,9.3,4.79,10.0,1.000,0.714,name,NaN,NaN
119,28.0,1.0,62.0,1.0,0.24,28.6,5.86,21.5,1.950,0.786,name,NaN,NaN
120,28.0,0.0,NaN,0.0,0.23,19.1,5.49,12.0,1.200,0.710,name,NaN,NaN
121,17.0,0.0,64.0,0.0,0.15,6.6,4.17,14.0,1.270,0.786,name,NaN,NaN
122,38.0,0.0,57.0,1.0,0.12,0.0,2.32,16.5,1.375,0.857,name,NaN,NaN
123,31.0,0.0,61.0,0.0,0.18,0.0,4.48,11.0,1.375,0.570,name,NaN,NaN
124,12.0,0.0,61.0,1.0,0.19,13.2,5.04,19.0,1.730,0.786,name,NaN,NaN
125,36.0,0.0,48.0,0.0,0.15,12.0,3.66,10.0,1.000,0.714,name,NaN,NaN
126,17.0,0.0,NaN,0.0,0.09,6.8,4.96,13.0,1.080,0.857,name,NaN,NaN
127,21.0,0.0,61.0,0.0,0.14,25.5,5.16,14.0,1.270,0.786,name,NaN,NaN
128,7.5,1.0,64.0,0.0,0.24,12.9,4.72,12.0,1.000,0.857,name,NaN,NaN
129,41.0,0.0,64.0,0.0,0.28,5.4,5.47,11.0,1.100,0.714,name,NaN,NaN
130,36.0,0.0,69.0,0.0,0.20,7.0,5.05,14.5,1.210,0.857,name,NaN,NaN
131,22.0,0.0,57.0,0.0,0.14,16.1,4.36,15.0,1.360,0.786,name,NaN,NaN
132,20.0,0.0,62.0,0.0,0.15,0.0,4.51,15.5,1.409,0.786,name,NaN,NaN

In [8]:
data.sample()

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
16,0.5,1.0,69.0,1.0,0.26,11.0,4.65,18.0,1.64,0.784,name,1,1.0

In [9]:
data.sample(30)

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
69,47.00,0.0,65.0,0.0,0.360,8.800,5.78,12.00,1.000,0.857,name,2,0.0
4,19.00,1.0,57.0,0.0,0.160,22.000,5.75,18.00,2.250,0.571,name,1,0.0
53,10.00,0.0,57.0,0.0,0.240,14.800,5.26,18.00,1.380,0.812,name,2,NaN
15,24.00,0.0,55.0,1.0,0.250,12.063,4.29,14.00,1.000,1.000,name,1,0.0
25,29.00,0.0,54.0,0.0,0.300,7.000,3.85,10.00,1.667,0.430,name,2,NaN
93,53.00,0.0,59.0,0.0,0.344,9.100,4.04,9.00,1.000,0.643,name,2,0.0
94,33.00,0.0,46.0,0.0,0.272,16.500,5.36,12.67,1.060,0.857,name,2,NaN
88,21.00,1.0,70.0,1.0,0.160,19.200,5.25,11.00,1.000,0.786,name,2,NaN
7,50.00,0.0,60.0,0.0,0.330,8.000,5.25,14.00,1.000,1.000,name,1,0.0
82,27.00,0.0,54.0,1.0,0.070,16.800,4.16,18.00,1.500,0.857,name,2,0.0
91,0.50,1.0,67.0,0.0,0.155,11.300,5.16,13.00,1.000,0.928,name,2,NaN
80,32.00,0.0,63.0,0.0,0.200,5.000,5.20,8.00,1.000,0.570,name,2,NaN
1,19.00,0.0,72.0,0.0,0.380,6.000,4.10,14.00,1.700,0.588,name,1,0.0
84,0.75,1.0,78.0,0.0,0.050,10.000,4.44,15.00,1.360,0.786,name,2,1.0
5,26.00,0.0,68.0,0.0,0.260,5.000,4.31,12.00,1.000,0.857,name,1,0.0
59,53.00,0.0,70.0,0.0,0.100,9.800,5.30,23.00,2.300,0.714,name,2,0.0
124,12.00,0.0,61.0,1.0,0.190,13.200,5.04,19.00,1.730,0.786,name,NaN,NaN
44,2.00,1.0,67.0,1.0,0.440,9.000,3.96,17.50,1.450,0.857,name,2,NaN
127,21.00,0.0,61.0,0.0,0.140,25.500,5.16,14.00,1.270,0.786,name,NaN,NaN
43,46.00,0.0,56.0,0.0,0.330,NaN,3.59,14.00,1.000,1.000,name,2,0.0
70,41.00,0.0,78.0,0.0,0.060,16.100,5.62,13.67,1.367,0.714,name,2,0.0
60,38.00,0.0,68.0,0.0,0.290,NaN,4.41,14.00,1.167,0.857,name,2,NaN
105,1.25,1.0,63.0,0.0,0.300,6.900,3.52,18.16,1.510,0.857,name,2,1.0
106,24.00,0.0,59.0,0.0,0.170,14.300,5.49,13.50,1.500,0.643,name,2,0.0
2,16.00,0.0,55.0,0.0,0.260,4.000,3.42,14.00,1.000,1.000,name,1,0.0
95,NaN,1.0,61.0,0.0,0.200,9.400,4.02,15.67,1.420,0.786,name,2,1.0
74,41.00,0.0,59.0,0.0,0.290,7.500,4.75,13.00,1.080,0.857,name,2,0.0
65,12.00,0.0,67.0,1.0,0.110,10.300,4.68,11.00,1.000,0.785,name,2,NaN
118,34.00,0.0,54.0,0.0,0.430,9.300,4.79,10.00,1.000,0.714,name,NaN,NaN
12,52.00,0.0,73.0,0.0,0.330,6.000,4.00,14.00,1.000,1.000,name,1,0.0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   survival              130 non-null    float64
 1   alive                 131 non-null    float64
 2   age                   126 non-null    float64
 3   pericardialeffusion   132 non-null    float64
 4   fractionalshortening  124 non-null    float64
 5   epss                  117 non-null    float64
 6   lvdd                  121 non-null    float64
 7   wallmotion-score      128 non-null    float64
 8   wallmotion-index      130 non-null    float64
 9   mult                  129 non-null    float64
 10  name                  131 non-null    object
 11  group                 110 non-null    object
 12  aliveat1              75 non-null     float64
dtypes: float64(11), object(2)
memory usage: 13.6+ KB

In [11]:
data.describe()

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,aliveat1
count,130.000000,131.000000,126.000000,132.000000,124.000000,117.000000,121.000000,128.000000,130.00000,129.000000,75.000000
mean,22.182923,0.328244,62.813722,0.765152,0.216734,12.164769,4.763157,14.438125,1.37800,0.786202,0.346667
std,15.858267,0.471377,8.342110,6.697225,0.107513,7.370159,0.810013,5.018566,0.45185,0.225661,0.506534
min,0.030000,0.000000,35.000000,0.000000,0.010000,0.000000,2.320000,2.000000,1.00000,0.140000,0.000000
25%,7.875000,0.000000,57.000000,0.000000,0.150000,7.000000,4.230000,11.000000,1.00000,0.714000,0.000000
50%,23.500000,0.000000,62.000000,0.000000,0.205000,11.000000,4.650000,14.000000,1.21600,0.786000,0.000000
75%,33.000000,1.000000,67.750000,0.000000,0.270000,16.100000,5.300000,16.500000,1.50750,0.857000,1.000000
max,57.000000,1.000000,86.000000,77.000000,0.610000,40.000000,6.780000,39.000000,3.00000,2.000000,2.000000

# 2: Data Cleaning

Handling Missing Values
-
- Imputation: Filling missing values with mean.

In [12]:
data.isnull().sum()

survival                 3
alive                    2
age                      7
pericardialeffusion      1
fractionalshortening     9
epss                    16
lvdd                    12
wallmotion-score         5
wallmotion-index         3
mult                     4
name                     2
group                   23
aliveat1                58
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   survival              130 non-null    float64
 1   alive                 131 non-null    float64
 2   age                   126 non-null    float64
 3   pericardialeffusion   132 non-null    float64
 4   fractionalshortening  124 non-null    float64
 5   epss                  117 non-null    float64
 6   lvdd                  121 non-null    float64
 7   wallmotion-score      128 non-null    float64
 8   wallmotion-index      130 non-null    float64
 9   mult                  129 non-null    float64
 10  name                  131 non-null    object
 11  group                 110 non-null    object
 12  aliveat1              75 non-null     float64
dtypes: float64(11), object(2)
memory usage: 13.6+ KB

In [14]:
# Separate numeric and non-numeric columns
numeric_cols = data.select_dtypes(include=[np.number])
#non_numeric_cols = data.select_dtypes(exclude=[np.number])
nm = pd.DataFrame(numeric_cols)
nm.head(2)

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,aliveat1
0,11.0,0.0,71.0,0.0,0.26,9.0,4.6,14.0,1.0,1.000,0.0
1,19.0,0.0,72.0,0.0,0.38,6.0,4.1,14.0,1.7,0.588,0.0

In [15]:
# Separate numeric and non-numeric columns
#numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])
non_nm = pd.DataFrame(non_numeric_cols)
non_nm.head(2)

   name group
0  name     1
1  name     1

In [16]:
non_nm.group

0        1
1        1
2        1
3        1
4        1
      ...
128    NaN
129    NaN
130    NaN
131    NaN
132    NaN
Name: group, Length: 133, dtype: object

In [18]:
import pandas as pd
import numpy as np

# Separate numeric and non-numeric columns
numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])

# Fill missing values in numeric columns with the mean
numeric_cols.fillna(numeric_cols.mean(), inplace=True)   # Numerical features
#non_numeric_cols.fillna(non_numeric_cols.mode(), inplace=True) # Categorical features

# Combine back with non-numeric columns
data1 = pd.concat([numeric_cols, non_numeric_cols], axis=1)

# Check for any remaining missing values
missing_values = data1.isnull().sum()
print(missing_values)

survival                 0
alive                    0
age                      0
pericardialeffusion      0
fractionalshortening     0
epss                     0
lvdd                     0
wallmotion-score         0
wallmotion-index         0
mult                     0
aliveat1                 0
name                     2
group                   23
dtype: int64

In [20]:
data.shape

(133, 13)

Removal: Deleting rows with missing values.
-

In [26]:
data = pd.read_csv('echocardiogram.csv')
data.isnull().sum()

survival                 3
alive                    2
age                      7
pericardialeffusion      1
fractionalshortening     9
epss                    16
lvdd                    12
wallmotion-score         5
wallmotion-index         3
mult                     4
name                     2
group                   23
aliveat1                58
dtype: int64

In [27]:
data.shape

(133, 13)

In [29]:
data.isnull().sum().sum()

145

In [30]:
# Drop rows with any missing values
data.dropna(inplace=True)

# Check for any remaining missing values
missing_values = data.isnull().sum()
print(missing_values)

survival                0
alive                   0
age                     0
pericardialeffusion     0
fractionalshortening    0
epss                    0
lvdd                    0
wallmotion-score        0
wallmotion-index        0
mult                    0
name                    0
group                   0
aliveat1                0
dtype: int64

In [32]:
data.shape

(61, 13)

Removing Duplicates
-

In [34]:
data = pd.read_csv('echocardiogram.csv')
data.shape

(133, 13)

In [35]:
data.drop_duplicates(inplace=True)
data.shape---

(133, 13)

# 3: Outlier Detection and Removal

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('echocardiogram.csv')

# Checking the structure of the dataset
#print(data.info())
data.describe()

In [ ]:
0.25-1.5*0.5

In [ ]:
0.75 + 1.5 * 0.5

In [ ]:
# Identify numeric columns
numeric_cols = data.select_dtypes(include=[np.number])

# Calculate IQR
Q1 = numeric_cols.quantile(0.25)
Q3 = numeric_cols.quantile(0.75)
IQR = Q3 - Q1

# Filter out outliers        # 0.25-1.5*0.5 = -0.5                      #  0.75 + 1.5 * 0.5 = 1.5

data_cleaned = data[~((numeric_cols < (Q1 - 1.5 * IQR)) | (numeric_cols > (Q3 + 1.5 * IQR))).any(axis=1)]

# Visualizing the data before and after outlier removal
plt.figure(figsize=(20, 6))

# Box plot before removing outliers
plt.subplot(1, 2, 1)
numeric_cols.boxplot()
plt.title("Before Outlier Removal")

# # Box plot after removing outliers
# plt.subplot(1, 2, 2)
# data_cleaned.select_dtypes(include=[np.number]).boxplot()
# plt.title("After Outlier Removal")

plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(20, 6))

# Box plot after removing outliers
plt.subplot(1, 2, 2)
data_cleaned.select_dtypes(include=[np.number]).boxplot()
plt.title("After Outlier Removal")

plt.tight_layout()
plt.show()

In [ ]:
data_cleaned.shape

In [ ]:
data_cleaned.head()

# 4. Data Transformation

Key Differences
-
Range of Values:

Normalization: Values are scaled to a fixed range, typically [0, 1].
Standardization: Values are rescaled to have a mean of 0 and a standard deviation of 1.
Effect on Distribution:

Normalization: Compresses or stretches the data to fit within the specified range, potentially altering the original distribution.
Standardization: Preserves the shape of the original distribution but changes the scale.
Use Cases:

Normalization: Suitable for distance-based algorithms, like k-nearest neighbors and neural networks.
Standardization: Suitable for algorithms that assume a normal distribution, like linear regression and logistic regression.

Normalization/Standardization
-
- Normalization
Definition:
Normalization rescales the data to a fixed range, typically [0, 1] or [-1, 1].

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Load the dataset
data = pd.read_csv('echocardiogram.csv')

# Separate numeric and non-numeric columns
numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])

# Apply MinMaxScaler to the numeric columns
scaler = MinMaxScaler()
scaled_numeric_data = scaler.fit_transform(numeric_cols)

# Convert the scaled numeric data back to a DataFrame
scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)

# Combine the scaled numeric columns with the non-numeric columns
scaled_data = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)

# Check the shape of the scaled data
print(scaled_data.shape)
print()
print('*' * 60)
scaled_data.head()

Standardization
-
Definition:
Standardization rescales the data so that it has a mean of 0 and a standard deviation of 1.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('echocardiogram.csv')

# Separate numeric and non-numeric columns
numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])

# Apply StandardScaler to the numeric columns
scaler = StandardScaler()
scaled_numeric_data = scaler.fit_transform(numeric_cols)

# Convert the scaled numeric data back to a DataFrame
scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)

# Combine the scaled numeric columns with the non-numeric columns
scaled_data = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)

# Check the shape of the scaled data
print(scaled_data.shape)
print()
print('*' * 60)
scaled_data.head()

# 5: One-Hot Encoding

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('echocardiogram.csv')
data.head(2)

In [ ]:
data["name"].unique()

In [ ]:
data.group.unique()

In [ ]:
data.aliveat1.unique()

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('echocardiogram.csv')

# Separate numeric and non-numeric columns
cat_features = [feature for feature in data.columns if data[feature].dtype == 'O']

# Convert categorical columns using pd.get_dummies
data1 = pd.get_dummies(cat_features)
data1

In [ ]:
data1.info()

In [ ]:
cat_features

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('echocardiogram.csv')

# Separate numeric and non-numeric columns
cat_features = [feature for feature in data.columns if data[feature].dtype == 'O']

# Convert categorical columns using pd.get_dummies
data1 = pd.get_dummies(data, columns=cat_features)

# Combine the scaled numeric columns with the non-numeric columns (if any)
scaled_data = pd.concat([data, data1], axis=1)

# Check the shape of the scaled data
print(scaled_data.shape)
print()
print('*' * 70)

scaled_data.head()

In [ ]:
data.columns

In [ ]:
scaled_data.columns

In [ ]:
data1.head()

# 6: Data Reduction

Dimensionality Reduction
-
PCA (Principal Component Analysis)

In [ ]:
scaled_data.shape

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

# Load the dataset
data = pd.read_csv('echocardiogram.csv')

# Handle missing values (if any)
data.fillna(data.mean(numeric_only=True), inplace=True)

# Separate categorical and numeric columns
cat_features = [feature for feature in data.columns if data[feature].dtype == 'O']
numeric_features = [feature for feature in data.columns if data[feature].dtype != 'O']

# Convert categorical columns using pd.get_dummies
data = pd.get_dummies(data, columns=cat_features)

# Standardize the numeric columns
scaler = StandardScaler()
data[numeric_features] = scaler.fit_transform(data[numeric_features].values)

# Apply PCA
pca = PCA(n_components=15)
data_pca = pca.fit_transform(data)

# Check the shape of the PCA data
print(data_pca.shape)
print(data_pca[:5])  # Print the first 5 rows of the PCA-transformed data

###########################


# Plot the original data (first two numeric features)
plt.figure(figsize=(14, 6))

plt.subplot(1, 2, 1)
plt.scatter(data[numeric_features[0]], data[numeric_features[1]], alpha=0.5)
plt.title('Original Data')
plt.xlabel(numeric_features[0])
plt.ylabel(numeric_features[1])

# Apply PCA
pca = PCA(n_components=15)  # Reducing to 2 components for visualization
data_pca = pca.fit_transform(data)

# Plot the PCA transformed data
plt.subplot(1, 2, 2)
plt.scatter(data_pca[:, 0], data_pca[:, 1], alpha=0.5)
plt.title('PCA Transformed Data')
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')

plt.tight_layout()
plt.show()

In [ ]:
type(data_pca)

In [ ]:
data_pca.ndim

In [ ]:
data_pca.shape

# 7: Handling Imbalanced Data
    
- Resampling Techniques
- Oversampling

In [ ]:
data = pd.read_csv('echocardiogram.csv')

data.alive.value_counts(True)

In [ ]:
data.shape

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.decomposition import PCA
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt

# Load the dataset
data = pd.read_csv('echocardiogram.csv')

# Handle missing values (if any)
data.fillna(data.mean(numeric_only=True), inplace=True)

# Separate categorical and numeric columns
cat_features = [feature for feature in data.columns if data[feature].dtype == 'O']
numeric_features = [feature for feature in data.columns if data[feature].dtype != 'O']

# Convert categorical columns using pd.get_dummies
data = pd.get_dummies(data, columns=cat_features)

# Standardize the numeric columns
scaler = StandardScaler()
data[numeric_features] = scaler.fit_transform(data[numeric_features].values)

# Convert the target variable to categorical if necessary
# Assuming 'alive' is the target column, you may need to binarize or discretize it
if data['alive'].dtype != 'int64' and data['alive'].dtype != 'bool':
    # Example: Binarize 'alive' if it's not already binary
    # Replace this logic with appropriate binning or thresholding based on your dataset
    data['alive'] = (data['alive'] > 0.5).astype(int)

# Separate features and target
X = data.drop(columns=['alive'])  # Replace 'alive' with your target column
y = data['alive']  # Replace 'alive' with your target column

# Encode the target variable if it's not already encoded
if y.dtype == 'O':
    le = LabelEncoder()
    y = le.fit_transform(y)

print(X.shape, y.shape)

# Apply SMOTE
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Combine resampled data
data_resampled = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.DataFrame(y_resampled, columns=['alive'])], axis=1)
data_resampled.head()

In [ ]:
data_resampled.alive.value_counts(True)

In [ ]:
data_resampled.shape

Undersampling
-

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.decomposition import PCA
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt

# Load the dataset
data = pd.read_csv('echocardiogram.csv')

# Handle missing values (if any)
data.fillna(data.mean(numeric_only=True), inplace=True)

# Separate categorical and numeric columns
cat_features = [feature for feature in data.columns if data[feature].dtype == 'O']
numeric_features = [feature for feature in data.columns if data[feature].dtype != 'O']

# Convert categorical columns using pd.get_dummies
data = pd.get_dummies(data, columns=cat_features)

# Standardize the numeric columns
scaler = StandardScaler()
data[numeric_features] = scaler.fit_transform(data[numeric_features].values)

# Convert the target variable to categorical if necessary
# Assuming 'alive' is the target column, you may need to binarize or discretize it
if data['alive'].dtype != 'int64' and data['alive'].dtype != 'bool':
    # Example: Binarize 'alive' if it's not already binary
    # Replace this logic with appropriate binning or thresholding based on your dataset
    data['alive'] = (data['alive'] > 0.5).astype(int)

# Separate features and target
X = data.drop(columns=['alive'])  # Replace 'alive' with your target column
y = data['alive']  # Replace 'alive' with your target column

# Encode the target variable if it's not already encoded
if y.dtype == 'O':
    le = LabelEncoder()
    y = le.fit_transform(y)

print(X.shape, y.shape)

# Apply SMOTE Undersampling
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler()
X_resampled, y_resampled = rus.fit_resample(X, y)

# Combine resampled data
data_resampled = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.DataFrame(y_resampled, columns=['alive'])], axis=1)
data_resampled.head()

In [ ]:
data_resampled.alive.value_counts()

In [ ]:
data_resampled.shape

# Target Encoder

In [ ]:
import pandas as pd
from category_encoders import TargetEncoder

# Example dataset
data = {'animal': ['cat', 'dog', 'mouse', 'dog', 'cat'], 'target': [1, 0, 1, 0, 1]}
df = pd.DataFrame(data)

target_encoder = TargetEncoder(cols=['animal'])
target_encoded = target_encoder.fit_transform(df['animal'], df['target'])
print(target_encoded)

# 8: Splitting Data

In [ ]:
from sklearn.model_selection import train_test_split
data = pd.read_csv('echocardiogram.csv')

X = data.drop('alive', axis=1)
y = data['alive']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape